body{
    display:flex;

    align-items: center;
    flex-direction: column;
}   
body::-webkit-scrollbar {
    display: none;
  }

.BgImage{
    background-image:url("https://i.ytimg.com/vi/24szFfc6YYE/maxresdefault.jpg");
    background-repeat:no-repeat;
    background-size:cover;

    z-index:0;

    position:fixed;

    top:0;

    width:100%;
    height:100%;

}
.container{
    margin-top:1%;

    width:50%;
    height:fit-content;
    min-height: 110px;

    background-image: radial-gradient(circle at top left,#fe7be5d9 30%,#974EC3 70%) ;

    display:flex;
    align-items: flex-start;

    flex-direction:column;
    flex-wrap:wrap;

    border-radius:50px;
    border:solid 3px;
    border-image: linear-gradient(bottom right,#313866 30%,#313866 70%) ;

    z-index:1;
}

.NewTaskBtn{
    border-radius:20px;
    border-color: #036d6d;
    border-style:solid;

    background-color:#e6ffff;

    position:relative;
    margin-top:5%;
    flex-wrap:wrap;
    
    width:100%;
    height:100px;

    overflow:hidden;

}
.BtnText{
    position:relative;

    font-size:2vw;
    color:#33ffff;
    font-family:cursive;

    text-align: center;
    white-space:nowrap;

    transition:1s;
    z-index:2;
}
.BtnText.Active{
    color: #e6ffff;
}



.NewTaskBtn::before{
    content:"";
    display:inline-block;
    position:absolute;

    width:170%;
    height:150%;

    background-color: #33ffff;

    transform: skew(-30deg) translateX(-200%) translateY(-40px);
    transition:1s;

    z-index:0;
}

.NewTaskBtn:hover::before{
    content:"";
    display:inline-block;

    transform: skew(-30deg) translateX(-300px) translateY(-40px);
}

.TaskText{
    align-self:flex-start;

    text-decoration-line: none;
    text-decoration-color: #001a00;
    color:#e6ffff;
    font-size: 3vw;
    font-family: cursive;

    margin-bottom:3%;
    margin-left:3%;

    white-space: pre-wrap;
}
.DeleteTask{
    align-self:flex-end;
    margin-left:4%;
    display:none;

    font-size: 3vw;
    color:#504099;
    font-family:Gill Sans;
}
.DeleteTask:hover{
    cursor:pointer;
}

.ConfirmBtn{
    width:3.5vw;
    height:3.5vw; 

    margin:1%;
    margin-top:0%;
}
.ConfirmBtn:hover{
    cursor:pointer;
}

.InputPanel{
    margin-top:4%;

    width:100%;
    height:60px;

    display:flex;
    justify-content:center;
    align-items:center;
    opacity:1;

    z-index:2;
}

.InputBar{
    height:50px;
    width:80%;

    border-radius:50px;
    border-color: rgb(207, 57, 237);

    font-size:2.5vw;
    color:#504099;
    
}